body {
    padding: 0;
    margin: 0;
    font-family: Google-sans;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    background-attachment: fixed;
    background-image: url(/Res/Bild/Hintergrund/Astrie-hintergrund-v2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

::selection {
    background: #ffffff47;
}

.github-button {
    padding: 14px 28px;
    border: solid 2px #aa4ed6;
    border-radius: 14px;
    background-color: transparent;
    color: #ffffff;
    font-family: Google-sans;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

.github-button:hover {
    color: #e499ff;
    background-color: #aa4ed6;
    box-shadow: 0 0 14px #aa4ed6;
    padding: 14px 48px;
}

.Ladenfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff80;
}

.Loadingoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #e499ff, #000000);
    z-index: 100000;
    pointer-events: none;
}

.Loading-header img {
    opacity: 0.7;
    width: 500px;
    transition: all 0.45s ease;
    animation-name: Header-fade;
    animation-duration: 0.5s;
}

@keyframes Header-fade {
    from { opacity: 0; transform: translateY(8px);}
    to { opacity: 0.7; filter: invert(0);}
}

.Loading-text {
    text-align: center;
    color: #ffffffab;
    font-size: 1rem;
}

.Loading-spinner {
    margin: auto;
    border: 5px solid #b872d2;
    border-top: 5px solid #f5b6ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Topbar-status {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px;
    background-image: linear-gradient(to bottom, #371c446d, transparent);
    box-shadow: 0 0 0px #371c4400;
    transition: padding 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    z-index: 12500;
}

.Topbar-status:hover {
    padding-top: 24px;
    background-color: #371c446d;
    box-shadow: 0 0 128px #371c44a8;
    transition: padding 0.2s ease, background-color 0.2s ease, box-shadow 1s ease;
}

#uhrzeit {
    color: #ffffff;
    text-align: center;
}

#uhrzeit {
    padding: 8px 14px;
    border-radius: 12px;
    transition: all 0.1s ease;
    cursor: pointer;
}

#uhrzeit:hover {
    background-color: #ffffff71;
}

.Topbar-actions {
    display: flex;
    gap: 12px;
    margin-top: -26px;
    padding-right: 8px;
    justify-content: right;
    align-content: right;
    
}

.Topbar-user img, .Topbar-info img, .Topbar-musik img {
    padding: 4px;
    border-radius: 12px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.Topbar-user img:hover, .Topbar-info img:hover, .Topbar-musik img:hover {
    background-color: #ffffff71;
}

#Akku-nummer {
    color: #ffffff;
    padding: 8px 14px;
    border-radius: 12px;
    transition: all 0.1s ease;
    cursor: pointer;
}

#Akku-nummer:hover {
    background-color: #ffffff71;
}

.Docker-div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 28px;
    background-image: linear-gradient(to top, #b972d2a7, transparent);
    color: #ffffff;
    text-align: center;
    transition: all 0.2s ease;
    z-index: 12700;
}

.Docker-div p {
    line-height: 0;
    opacity: 0.5;
}

.Docker-div:hover {
    padding: 38px;
}

.Nutztercenteroverlay, .Infooverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000004c;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.Nutztercenteroverlay.Nutztercenter-active, .Infooverlay.Info-active  {
    pointer-events: all;
    opacity: 1;
}

.Nutztercenteroverlay.Nutztercenter-active .Nutztercenter-content, .Infooverlay.Info-active .Info-content {
    transform: translateY(0%);
    opacity: 1;
}

.Info-action {
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.Info-action:hover {
    background-color: #ffffff4c;
}

.Nutztercenter-header, .Nutztercustom-header, .Musikplayer-header {
    color: #ffffff;
    font-size: 0.5rem;
    text-align: center;
    text-decoration: underline;
}

.Nutztercenter-content {
    width: 20rem;
    position: fixed;
    top: 80px;
    right: 8px;
    padding: 12px;
    background-color: #e2a0ff;
    border-radius: 14px;
    transform: translateY(-100%);
    transition: all 0.2s ease;
}

.Nutzter-banner {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #e2a0ff, transparent);
}

.Nutzter-banner img {
    width: 100%;
    height: 125px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Nutztercenter-konto {
    box-sizing: border-box;
    width: 100%;
    line-height: 0;
    padding: 32px 18px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #9a6dad;
    color: #f0c6ff;
    cursor: pointer;
}

.Nutztercenter-konto:hover {
    color: #ffffff;
    background-color: #b07dc6;
}

.Nutzterpfp img {
    object-fit: cover;
    margin-right: 8px;
    float: left;
    border-radius: 14px;
}

.Nutztercenter-konto-actions {
    width: 100%;
    box-sizing: border-box;
    margin-top: 12px;
    padding: 8px 34px;
    border-radius: 12px;
    background-color: #b782cd;
    color: #f0c6ff;
}

.Nutzter-actions {
    margin: 0 8px 8px 0;
    padding: 0 18px;
    display: flex;
    gap: 14px;
    border-radius: 14px;
    background-color: #9a6dad;
    cursor: pointer;
}

.Nutzter-actions:hover {
    box-shadow: 0 0 0 2px #f0c6ff;
    font-weight: 500;
    text-decoration: underline;
}

.Nutztercustomoverlay, .Musikplayeroverlay {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.2s;
}

.Nutztercustomoverlay.Hochladen-active ,.Musikplayeroverlay.Musik-active {
    opacity: 1;
    pointer-events: all;
}

.Musikplayeroverlay.Musik-active .Musikplayer-content {
    transform: translateY(0%);
}

.Nutztercustomoverlay.Hochladen-active .Nutztercustom-content {
    transform: translateX(0%);
}

.Nutztercustom-content {
    width: 20rem;
    position: fixed;
    top: 6.5rem;
    right: 22rem;
    padding: 12px;
    background-color: #e2a0ff;
    border-radius: 14px;
    transform: translateX(100%);
    transition: all 0.2s ease;
}

.Nutztercustom-pfp {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 0;
    padding: 18px 34px;
    border-radius: 12px;
    background-color: #9a6dad;
    color: #f0c6ff;
}

.Pfp-label {
    width: 100%;
}

.Nutztercustom-pfp span {
    padding: 8px 18px;
    border-radius: 14px;
    background-color: #f0c6ff;
    line-height: 1.2;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.25s ease;
}

.Nutztercustom-pfp span:hover {
    box-shadow: 0 0 0 2px #ffffff;
    background-color: #e499ff;
}

.Nutztercustom-pfp input {
    display: none;
}

.Nutztercustom-banner {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1;
    padding: 18px 34px;
    border-radius: 12px;
    background-color: #9a6dad;
    color: #f0c6ff;
}

.banner-label {
    width: 100%;
}

.Nutztercustom-banner span {
    padding: 8px 18px;
    border-radius: 14px;
    background-color: #f0c6ff;
    line-height: 1.2;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.25s ease;
}

.Nutztercustom-banner span:hover {
    box-shadow: 0 0 0 2px #ffffff;
    background-color: #e499ff;
}

.Nutztercustom-banner input {
    display: none;
}

.Musikplayer-content {
    width: 20rem;
    position: fixed;
    top: 80px;
    right: 8px;
    padding: 12px;
    background-color: #e2a0ff;
    border-radius: 14px;
    transform: translateY(-100%);
    transition: all 0.2s ease;
}

.Musikplayer-cover img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Musikplayer-menü {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 18px 32px;
    border-radius: 12px;
    background-color: #9a6dad;
    color: #f0c6ff;
}

.Musikplayer-dropdown-menü {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    gap: 8px;
    padding: 1px 12px;
    border-radius: 12px;
    background-color: #9a6dad;
    color: #f0c6ff;
    cursor: pointer;
}

.Musikplayer-dropdown-menü:hover {
    box-shadow: 0 0 0 2px #f0c6ff;
    background-color: #b07dc6;
    font-weight: 500;
}