body {
    padding: 0;
    margin: 0;
    font-family: Google-sans;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
}

.Ladenoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, #e499ff, #000000);
    animation-name: Laden-sache;
    animation-duration: 1s;
}

@keyframes Laden-sache {
    from {filter: blur(4px);}
}

.Ladenheader {
    color: #ffffff;
    text-align: center;
    line-height: 0;
}

.Ladenheader h2 {
    font-size: 2rem;
    text-decoration: underline #aa4ed6;
}

.Ladenheader img {
    opacity: 0.7;
    width: 750px;
    transition: all 0.45s ease;
    animation-name: Header-fade;
    animation-duration: 0.7s;
}

@keyframes Header-fade {
    from { opacity: 0; transform: translateY(12px); filter: invert(1);}
    to { opacity: 0.7; filter: invert(0);}
}

.Ladenheader img:hover {
    transform: translateY(-8px);
    opacity: 1;
}

.Ladenbutton {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-button {
    padding: 14px 28px;
    border: solid 2px #aa4ed6;
    border-radius: 14px;
    background-color: transparent;
    color: #8b2cb4;
    font-family: Google-sans;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
}

.github-button:hover {
    color: #e499ff;
    background-color: #aa4ed6;
    box-shadow: 0 0 14px #aa4ed6;
    padding: 14px 48px;
    transform: translateY(-2px);
}

.Ladenfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff80;
}